.card {
    margin: 2em;
    background-color: rgba(221, 140, 41, 0.229);
border-radius: 1.2em;
border: 0.15em solid ;
padding: 0.5em;


  }


  .imgCards{

border-radius: 1.2em;

  }

    //.profileDesign {
  
    //// display: flex;
    ////align-content: center;
    //}