.servicesDesign {
    min-height: 100vh;
   
    // background-image: linear-gradient(75deg, #f6d365 0%, #fda085 100%);
   
};

.preServices {
    width: 100%;
    // display: flex;
    text-align: center;
    justify-self: center;
}
.filter {
    // width: 50vw;
    display: flex;
    text-align: start;
    margin-top: 2em;
    margin-bottom: 2em;
}

.serviceMoreInfo {
    padding-top: 10em;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.servicesRow {
    border: 1em;
    border-color: brown;
    min-height: 50vh;
    
}

.par {
    background-color: rgba(208, 208, 208, 0.776);
}


.imgServices {
//width: 10vw;
max-height: 100%;
max-width: 100%;
border-radius: 0.5em;
box-shadow: 18px 18px 10px  rgba(6, 6, 6, 0.3);
};

.servicePic:hover{

transform: scale(1.2);
box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
transition: 0.7s;

}

.searchDesign{
    margin-top: 1em;
    width: 40em;
    
}

.spinner {
    height: 70vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
}

.buttonSearch {
    width: auto;
    margin: 0.5em;
    background-color: transparent !important;
    border-color: black !important;
    border-width: 0.1em !important;    
    color: black !important;
    text-size-adjust: auto;
}


.spinnerDesign {

    margin-top: 10em;
    height: 5em;
    width: 5em;
}