.navbarDesign {
    
    color: whitesmoke;
    font-family: Franklin Gothic Medium;
    }
    .logoDesign{
    font-family: 'Courier New',
        Courier,
        monospace;
    
        font-weight: bold;
    font-size: 2em;
        
    
    }
    
    .desplegableDesign {
    
    // background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-color: #C8dac7;
    
    }
    
    .row {
        width: 100vw  //This will make container to take screen width
      }  
      
    .items-alignment{
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .variant {
        // background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
        background-color: #C8dac7 !important;
    }
      
    