.reviewDesign {
    font-family: Franklin Gothic Medium;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    align-items: center;
    max-width: 70vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pilPicView {
    border-radius: 3%;
    margin: 1em;
    max-height: 40vh;
}