.buttonSearchPils {
    margin: 1em;
    width: auto;
}
.cardsPils {
    background-color: beige;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.PilsDesign{
    min-height: 100vh;
}

.pad {
    padding-right: 10em;
    padding-left: 10em;
}