.card {
//     background-color: white;
// // border-radius: 1.2em;
// border: 0.15em solid ;
// padding: 0.5em;


  }

  .profileInfo {
    text-align: start;
  }


  .imgCards{

border-radius: 1.2em;

  }

  .displayFlexin{
    display: flex;
  }

  .margining{
    margin-left: 1em;
    margin-top: 0.5em;
  }

  .formProfile {
    max-width: 30vw;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  }

    //.profileDesign {
  
    //// display: flex;
    ////align-content: center;
    //}