.homeRow {
    min-height: 60vh;
    border-color: black;
    justify-content: center;
    align-items: center;
}

.beige {
    background-color: bisque;
}

.buttonSearchHome {
    width: auto;
    margin: 0.5em;
    background-color: transparent !important;
    border-color: black !important;
    border-width: 0.1em !important;    
    color: black !important;
    text-size-adjust: auto;
}

