.modalDesign {
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;

}

.inputsContainer {
    margin: 0.2em;
}

.modals {
    border-radius: 100%;
}